<div ng-include="'include/slide_menu.html'"></div>
<!---->
<snap-content data-snap-ignore="true" class="nomargin_panel">
    <div ng-include="'include/header.html'" class="fixedheader"></div>
    <div ng-controller="ContactController" set-height class="submenubg">
        <div ng-show="screening" class="submenubg">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submenubg contactflow">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" style="height:70px;background-color:#EFFBFB;margin:70px 0 20px 0;overflow-y:hidden;">
                    <table style="height:100%;width:100%;">
                        <tr>
                            <td style="vertical-align:middle;text-align:center;margin:0px auto;color:#32B7B6;">
                                CONTACT
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" style="margin:10px 0;padding-bottom: 250px;overflow-y:scroll;height:100%;overflow-x:hidden;">


                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-sm col-xs-6  nopadding">
                        <div style="width:90%; min-height:170px;background-color:#fff;margin:0px auto;">
                            <div class="" style="text-align:center">
                                <img src="img/contact.png" style="width:35%;height:35%;border-radius:80%;text-align:center;margin-top:10px;margin-bottom:10px" />

                            </div>
                            <div style="margin-bottom:5px;min-height:50px;">
                                <table class="username">
                                    <tr>
                                        <td class="name">
                                            Shijin
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="name">
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="speciality">
                                            speciality
                                        </td>


                                    </tr>


                                </table>

                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="text-align:right;border-right:2px solid #F4F1F1;">
                                            <a href="mailto:shijin.p@medtrixhealthcare.com?subject=Test&body="><div class="glyphicon-ring"> <span class="glyphicon glyphicon-envelope" style="padding:3px;"></span></div>
                                            </a>

</div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style=" text-align:left">
                                            <a href="tel:974-016-9600">
                                                <div class="glyphicon-ring"><span class="glyphicon glyphicon-earphone" style="padding:3px;"></span></div>
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 hidden-lg col-md-6 hidden-md col-sm-6  col-xs-6 hidden-xs  nopadding">
                        <div style="width:90%; min-height:250px;background-color:#fff;margin:0px auto;">
                            <div class="" style="text-align:center">
                                <img src="img/contact.png" style="width:35%;height:35%;border-radius:80%;text-align:center;margin-top:10px;margin-bottom:10px" />

                            </div>
                            <div style="margin-bottom:5px;min-height:50px;">
                                <table class="username">
                                    <tr>
                                        <td class="name">
                                            Shijin
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="name">
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="speciality">
                                            speciality
                                        </td>


                                    </tr>


                                </table>

                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="text-align:right;border-right:2px solid #F4F1F1;">
                                            <a href="mailto:shijin.p@medtrixhealthcare.com?subject=Test&body=">
                                                <div class="glyphicon-ring"> <span class="glyphicon glyphicon-envelope" style="padding:3px;"></span></div>
                                            </a>

                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style=" text-align:left">
                                            <a href="tel:974-016-9600">
                                                <div class="glyphicon-ring"><span class="glyphicon glyphicon-earphone" style="padding:3px;"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-sm col-xs-6  nopadding">
                        <div style="width:90%; min-height:170px;background-color:#fff;margin:0px auto;">
                            <div class="" style="text-align:center">
                                <img src="img/contact.png" style="width:35%;height:35%;border-radius:80%;text-align:center;margin-top:10px;margin-bottom:10px" />

                            </div>
                            <div style="margin-bottom:5px;">
                                <table class="username">
                                    <tr>
                                        <td class="name">
                                            Shijin
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="name">
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="speciality">
                                            speciality
                                        </td>


                                    </tr>


                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="text-align:right;border-right:2px solid #F4F1F1;">
                                            <a href="mailto:shijin.p@medtrixhealthcare.com?subject=Test&body=">
                                                <div class="glyphicon-ring"> <span class="glyphicon glyphicon-envelope" style="padding:3px;"></span></div>
                                            </a>

                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style=" text-align:left">
                                            <a href="tel:974-016-9600">
                                                <div class="glyphicon-ring"><span class="glyphicon glyphicon-earphone" style="padding:3px;"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 hidden-lg col-md-6 hidden-md col-sm-6  col-xs-6 hidden-xs  nopadding">
                        <div style="width:90%; min-height:250px;background-color:#fff;margin:0px auto;">
                            <div class="" style="text-align:center">
                                <img src="img/contact.png" style="width:35%;height:35%;border-radius:80%;text-align:center;margin-top:10px;margin-bottom:10px" />

                            </div>
                            <div style="margin-bottom:5px;min-height:50px;">
                                <table class="username">
                                    <tr>
                                        <td class="name">
                                            Shijin
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="name">
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="speciality">
                                            speciality
                                        </td>


                                    </tr>


                                </table>

                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="text-align:right;border-right:2px solid #F4F1F1;">
                                            <a href="mailto:shijin.p@medtrixhealthcare.com?subject=Test&body=">
                                                <div class="glyphicon-ring"> <span class="glyphicon glyphicon-envelope" style="padding:3px;"></span></div>
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style=" text-align:left">
                                            <a href="tel:974-016-9600">
                                                <div class="glyphicon-ring"><span class="glyphicon glyphicon-earphone" style="padding:3px;"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" style="margin:10px 0;">

                        <div class="col-lg-6 col-md-6 col-sm-6 hidden-sm col-xs-6  nopadding">
                            <div style="width:90%; min-height:170px;background-color:#fff;margin:0px auto;">
                                <div class="" style="text-align:center">
                                    <img src="img/contact.png" style="width:35%;height:35%;border-radius:80%;text-align:center;margin-top:10px;margin-bottom:10px" />

                                </div>
                                <div style="margin-bottom:5px;">
                                    <table class="username">
                                        <tr>
                                            <td class="name">
                                                Shijin
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="name">
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="speciality">
                                                speciality
                                            </td>


                                        </tr>


                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="text-align:right;border-right:2px solid #F4F1F1;">
                                                <a href="mailto:shijin.p@medtrixhealthcare.com?subject=Test&body=">
                                                    <div class="glyphicon-ring"> <span class="glyphicon glyphicon-envelope" style="padding:3px;"></span></div>
                                                </a>

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style=" text-align:left">
                                                <a href="tel:974-016-9600">
                                                    <div class="glyphicon-ring"><span class="glyphicon glyphicon-earphone" style="padding:3px;"></span></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-lg col-md-6 hidden-md col-sm-6  col-xs-6 hidden-xs  nopadding">
                            <div style="width:90%; min-height:250px;background-color:#fff;margin:0px auto;">
                                <div class="" style="text-align:center">
                                    <img src="img/contact.png" style="width:35%;height:35%;border-radius:80%;text-align:center;margin-top:10px;margin-bottom:10px" />

                                </div>
                                <div style="margin-bottom:5px;min-height:50px;">
                                    <table class="username">
                                        <tr>
                                            <td class="name">
                                                Shijin
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="name">
                                              
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="speciality">
                                                speciality
                                            </td>


                                        </tr>


                                    </table>

                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="text-align:right;border-right:2px solid #F4F1F1;">
                                                <a href="mailto:shijin.p@medtrixhealthcare.com?subject=Test&body=">
                                                    <div class="glyphicon-ring"> <span class="glyphicon glyphicon-envelope" style="padding:3px;"></span></div>
                                                </a>

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style=" text-align:left">
                                                <a href="tel:974-016-9600">
                                                    <div class="glyphicon-ring"><span class="glyphicon glyphicon-earphone" style="padding:3px;"></span></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 hidden-sm col-xs-6  nopadding">
                            <div style="width:90%; min-height:170px;background-color:#fff;margin:0px auto;">
                                <div class="" style="text-align:center">
                                    <img src="img/contact.png" style="width:35%;height:35%;border-radius:80%;text-align:center;margin-top:10px;margin-bottom:10px" />

                                </div>
                                <div style="margin-bottom:5px;">
                                    <table class="username">
                                        <tr>
                                            <td class="name">
                                                Shijin
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="speciality">
                                                speciality
                                            </td>
                                        </tr>
                                    </table>
                                    <!--<p style="text-align:center;margin:0px">
                                    sfdfdfdf
                                </p>
                                <p style="text-align:center;margin:0px">
                                    asdasdsad

                                </p>-->
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="text-align:right;border-right:2px solid #F4F1F1;">
                                                <a href="mailto:shijin.p@medtrixhealthcare.com?subject=Test&body=">
                                                    <div class="glyphicon-ring"> <span class="glyphicon glyphicon-envelope" style="padding:3px;"></span></div>
                                                </a>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style=" text-align:left">
                                                <a href="tel:974-016-9600">
                                                    <div class="glyphicon-ring"><span class="glyphicon glyphicon-earphone" style="padding:3px;"></span></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 hidden-md col-sm-6 col-xs-6 hidden-xs  nopadding">
                            <div style="width:90%; min-height:250px;background-color:#fff;margin:0px auto;">
                                <div class="" style="text-align:center">
                                    <img src="img/contact.png" style="width:35%;height:35%;border-radius:80%;text-align:center;margin-top:10px;margin-bottom:10px" />

                                </div>
                                <div style="margin-bottom:5px;min-height:50px;">
                                    <table class="username">
                                        <tr>
                                            <td class="name">
                                                Shijin
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="name">
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="speciality">
                                                speciality
                                            </td>


                                        </tr>


                                    </table>

                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style="text-align:right;border-right:2px solid #F4F1F1;">
                                                <a href="mailto:shijin.p@medtrixhealthcare.com?subject=Test&body=">
                                                    <div class="glyphicon-ring"> <span class="glyphicon glyphicon-envelope" style="padding:3px;"></span></div>
                                                </a>

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style=" text-align:left">
                                                <a href="tel:974-016-9600">
                                                    <div class="glyphicon-ring"><span class="glyphicon glyphicon-earphone" style="padding:3px;" ></span></div>                                                   
                                                </a>
                                                <!--<a href="tel:18475555555">Click Here To Call Support 974-016-9600</a>-->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="screening" class="submenubg" style="color:#fff;">
            <table class="fullwidth fullheight">
                <tr>
                    <td class="verticalmid text-center">
                        <div class="text-center">NO DATA</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-include="'include/footer.html'" class="fixedfooter" data-snap-ignore="true"></div>
</snap-content>