<div id="login" class="loginbg fullwidth" ng-controller="LoginController">
    
    
    <div class="grid-row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loginContainer" set-height>
            <div style="height:{{loginImageHeight}};" class="ipadheight">
               
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo" style="height:100%;">
                    <table style="width:100%;height:100%;">
                        <tr>
                            <td style="vertical-align:middle;">
                                <img src="img/aboutlogo.png">
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
            <div style="height:{{loginContainerHeight}};">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100%;">
                    <table style="width:100%;height:100%;">
                        <tr>
                            <td style="vertical-align:middle;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ipadport">
                                    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6 logindoctor text-center">
                                        <table class="fullheight fullwidth">
                                            <tr>
                                                <td class="verticalmid fullwidth">
                                                    <!--<i class="fa fa-user-circle-o loginchevron"></i>--> <b class="bluclr">DOCTOR</b>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logintable nopadding">

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 height200">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 height50">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-left fullheight nopadding">
                                                    <table class="fullheight fullwidth">
                                                        <tr>
                                                            <td class="verticalmid fullwidth">
                                                                <i class="glyphicon glyphicon-chevron-left loginchevron"></i>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right fullheight nopadding">
                                                    <table class="fullheight fullwidth">
                                                        <tr>
                                                            <td class="verticalmid fullwidth">
                                                                <i class="glyphicon glyphicon-chevron-right  loginchevron"></i>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 height150">
                                                <form role="form" class="loginform">
                                                    <div class="form-group">
                                                        <label for="Username">USERNAME</label>
                                                        <input type="email" class="form-control logininput" id="Username" placeholder="Enter Username">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Password">PASSWORD</label>
                                                        <input type="password" class="form-control logininput" id="Password" placeholder="Password">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 loginbtn" ng-click="onClickLogin();">
                                            <table class="fullwidth fullheight">
                                                <tr>
                                                    <td class="fullwidth verticalmid text-center cursorpointer">
                                                        <a style="color:#fff;" class="ipadlogin">LOGIN</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        
    </div>
</div>
    </div>
